<nav>
  <strong><p><a><span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= link_to "Home", timeline_path(id: @current_user.id) %>
</a><a><span class="glyphicon glyphicon-flash" aria-hidden="true"> </span>  Moments
</a><a>  <span class="glyphicon glyphicon-fire" aria-hidden="true"> </span>  Notifications
</a><a>  <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>  Messages</p>
</a></strong>
<img src="http://cdn.flaticon.com/png/256/31060.png" alt="" />
<span class="follow" style="border-radius:15px;"> <%= link_to "FollowPeople", index_path %> </span>

  <span class="signout" style="border-radius:15px;"> <%= link_to "Sign Out", sign_out_path %> </span>
</nav>
<div class="outershelllist">
<% @users.each do |f| %>
<div class="list">
<center><p id="indexphoto"><%= link_to user_path(id: f.id), class:"user" do %><%= image_tag attachment_url(f, :photo, :fill, 200, 200, format: "jpg") %>
<% end %> </p></center>
<center><p id="indexname"><%= f.name %>
@<%= f.user_name %></p></center>
</div>
<% end %>
</div>
