<nav id="navsignup">
  <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
  <%= link_to 'Sign In', sign_in_path, class:"newsigninlink" %>
</nav>

  <div class="new-signout">
    <% if @user.errors.any? %>
      <%= pluralize(@user.errors.count, 'error') %> prevented your form from success.
      <ul class="mdl-list">
        <% @user.errors.full_messages.each do |msg| %>
          <li class="errorsss"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
      <h1 id="join">Join Twitter Today.</h1>
      <%= form_for @user do |f| %>
      <div class="">
        <%= f.text_field :name, placeholder:"Full Name", class:"textfield", size:30 %>
      </div>
      <div class="">
        <%= f.text_field :user_name,placeholder:"User Name", class:"textfield", size:30 %>
      </div>
      <div class="">
        <%= f.text_field :email, placeholder:"Email", class:"textfield", size:30%>
      </div>
       <div class="">
          <%= f.password_field :password, placeholder:"Password", class:"textfield", size:30 %>
        </div>

        <div>
          <%= f.attachment_field :photo %>
        </div>

        <div>
        <%= f.submit "Sign Up", class:"newsignup" %>
          <% end %>
        </div>

      </div>
