<nav id="navsignup">
  <img src="http://cdn.flaticon.com/png/256/31060.png" alt="" />
  <%= link_to 'Sign In', sign_in_path %>
</nav>

  <div class="signoutpage">
    <% if @user.errors.any? %>
      <%= pluralize(@user.errors.count, 'error') %> prevented your form from success.
      <ul class="mdl-list">
        <% @user.errors.full_messages.each do |msg| %>
          <li class="errorsss"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
      <h1 id="join">Join Bojack Today.</h1>
      <%= form_for @user do |f| %>
      <div class="">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder:"Name", class:"textfield" %>
      </div>
      <div class="">
        <%= f.label :user_name %>
        <%= f.text_field :user_name,placeholder:"User Name", class:"textfield" %>
      </div>
      <div class="">
        <%= f.label :email %>
        <%= f.text_field :email, placeholder:"email", class:"textfield"%>
      </div>
       <div class="">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder:"Password", class:"textfield" %>
        </div>

        <div class="attachmentfield">
          <%= f.label :photo %>
          <%= f.attachment_field :photo, class:"attachment" %>
        </div>

        <div>
        <%= f.submit "Sign Up", class: "signuplink" %>
          <% end %>
        </div>
      </div>
