
<nav>
  <strong><p><a><span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= link_to "Home", timeline_path %>
</a><a><span class="glyphicon glyphicon-flash" aria-hidden="true"> </span>  Moments
</a><a>  <span class="glyphicon glyphicon-fire" aria-hidden="true"> </span>  Notifications
</a><a>  <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>  Messages</p>
</a></strong>
<img src="http://cdn.flaticon.com/png/256/31060.png" alt="" />
<span class="follow" style="border-radius:15px;"> <%= link_to "Follow People", index_path %> </span>

  <span class="signout" style="border-radius:15px;"> <%= link_to "Sign Out", sign_out_path %> </span>
</nav>

<div class="showprofile">
  <div class="block"></div>
  <div class="posts">
    <% @user_profile.posts.each do |f| %>
    <%= f.text %>
    <%end %>
  </div>
<div class="info">
<%= image_tag attachment_url(@user_profile, :photo, :fill, 210, 210, format: "jpg"), class:"showphoto" %>
<p id="nameshow"><%= @user_profile.name %></p>
<p id="usernameshow">@<%= @user_profile.user_name %></p>
<%= link_to "Hate Me!", unfollow_path(id: @user_profile.id), class: "btn btn-default", method: :post%>
<%= link_to "Love Me!", follow_path(id: @user_profile.id), class: "btn btn-default", method: :post%>
</div>
</div>
