
<nav>
  <strong><p><a><span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= link_to "Home", timeline_path %>
</a><a><span class="glyphicon glyphicon-flash" aria-hidden="true"> </span>  Moments
</a><a>  <span class="glyphicon glyphicon-fire" aria-hidden="true"> </span>  Notifications
</a><a>  <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>  Messages</p>
</a></strong>
<i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
<span class="follow" style="border-radius:15px;"> <%= link_to "Follow People", index_path %> </span>

  <span class="signout" style="border-radius:15px;"> <%= link_to "Sign Out", sign_out_path %> </span>
</nav>

<div class="block"></div>
<div class="profilecontainer">
<div class="info">
<%= image_tag attachment_url(@user_profile, :photo, :fill, 210, 210, format: "jpg"), class:"showphoto" %>
<p id="nameshow"><%= @user_profile.name %></p>
<p id="usernameshow">@<%= @user_profile.user_name %></p>
<% if @current_user && @current_user.following?(@user_profile)%>
<div class="followbtn"><em><%= link_to "Following", unfollow_path(id: @user_profile.id)%></em></div>
<% elsif @current_user %>
<div class="followbtn"><em><center><%= link_to "Follow", follow_path(id: @user_profile.id)%></center></em></div>
<% end %>
</div>
<div class="posts">
  <p class="thoughts"> THOUGHTS </p>
  <% @user_profile.posts.each do |f| %>
  <div class="text1">
  <%= image_tag attachment_url(f.user, :photo, :fill, 60, 60, format: "jpg"), class:"bb" %>
  <div class="text2">
  <p><%= f.user.name %> @<%= f.user.user_name %></p>
  <p><%= f.text %>-<%= distance_of_time_in_words f.created_at, Time.now %> ago</p>
</div>
</div>
  <%end %>
</div>
</div>
